<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="#FFF">
                <ion-icon class="icon-white" ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Completar Ticket</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #pageTop>

    <ion-card *ngIf="errors.length > 0">
        <ion-card-content class="errors-container">
            <ul>
                <li *ngFor="let error of errors">{{error.name}} {{error.error}}</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <!--<ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>-->

        <ion-card-content>
            <form [formGroup]="closeTicketForm" class="login-form">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Número de Serie</ion-label>
                        <ion-input type="text" name="serial_number" formControlName="serial_number"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Persona que recibio en el domicilio</ion-label>
                        <ion-input type="text" formControlName="recipient" name="recipient"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Acciones realizadas</ion-label>
                        <ion-input type="text" formControlName="work_description" name="work_description"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Còdigo de Error</ion-label>
                        <ion-select formControlName="id_error_codes" name="id_error_codes" interface="action-sheet">
                            <ion-select-option 
                                *ngFor="let errorCode of errorCodes"
                                value="{{errorCode.id}}">
                                {{errorCode.name}}({{errorCode.id}})
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">TDS entrada</ion-label>
                        <ion-input type="number" formControlName="tds_in" name="tds_in"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">TDS Salida</ion-label>
                        <ion-input type="number" formControlName="tds_out" name="tds_out"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Aplicar cargos extra</ion-label>
                        <ion-toggle [(ngModel)]="extraCharges" (ionChange)="setExtraCharges($event)" [ngModelOptions]="{standalone: true}"></ion-toggle>
                    </ion-item>

                    <ion-item *ngIf="extraCharges">
                        <ion-label position="floating">Cargos Extras</ion-label>
                        <ion-input type="number" formControlName="extra_charges" name="extra_charges"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="extraCharges">
                        <ion-label position="floating">Razones de cargos extras</ion-label>
                        <ion-input type="text" formControlName="extra_charges_reasons"
                                   name="extra_charges_reasons"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-button align="center" (click)="getImageService()" class="full-button" expand="block">
                            Imagenes del Servicio
                        </ion-button>
                    </ion-item>

                    <ion-item *ngIf="imagesServices.length > 0">
                        <ion-row>
                            <ion-col align="center" size="4"
                                     *ngFor="let imageService of imagesServices; let i = index;">
                                <img class="img-responsive" src="data:image/png;base64,{{imageService}}">
                                <ion-button color="danger" (click)="removeImageServices(i)">
                                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-item>

                    <!--<ion-item>
                        <ion-button (click)="getProofAddress()" class="full-button" expand="block">Imagen comprobante de
                            domicilio
                        </ion-button>
                    </ion-item>-->

                    <ion-item>
                        <ion-button (click)="getLocation()" class="full-button" expand="block">Obtener Ubicación
                        </ion-button>
                    </ion-item>
                    <ion-item>
                        <p>Latitud: {{closeTicketForm.get('latitude').value}}</p>
                    </ion-item>
                    <ion-item>
                        <p>Longitud: {{closeTicketForm.get('longitude').value}}</p>
                    </ion-item>

                    <ion-item *ngIf="proofAddress">
                        <ion-row>
                            <ion-col size="10"><img class="img-responsive" src="data:image/png;base64,{{proofAddress}}">
                            </ion-col>
                            <ion-col size="2">
                                <ion-button color="danger" (click)="removeProofAddress()">
                                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-item>


                </ion-list>

                <ion-button (click)="sentTicketClose()" expand="block">Enviar</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
    <!--<h3>Finalización de servicio al ticket #{{assignation.ticket.id_ticket}}</h3>-->

</ion-content>
