<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Acerca De
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    Empresa mexicana que provee agua purificada en el punto de entrega. Aguagente cree firmemente que si realmente
    quieres cambiar fundamentalmente una industria sólo se necesita un plan sencillo, una estrategia efectivo y una
    metodología única. Haremos esto mediante tecnología de última generación propia.
</ion-content>
