ion-content {
  --ion-background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../assets/img/background.png") !important;
  background-size: cover;
}

ion-button {
  --background: #85bb40;
}

ion-button, ion-input, ion-label {
  --color: #FFF !important;
}
