<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Tickets Asignados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refreshTickets($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="assignations.length > 0">
        <ion-item *ngFor="let assignation of assignations;let i=index" (click)="openTicket(assignation,i)">
            <ion-label>
                <h2>#{{assignation.ticket.id_tickets}}
                    ({{ assignation.ticket.client ? assignation.ticket.client.name : 'Sin nombre'}})</h2>
                <p>{{assignation.ticket.description}}</p>
                <p>{{assignation.ticket.client ? assignation.ticket.client.phone : 'Sin Numero telefonico'}}</p>
                <p>{{(assignation.ticket.client && assignation.ticket.client.outdoor_number) ? '#' + assignation.ticket.client.outdoor_number + ' entre ' : null}} {{(assignation.ticket.client && assignation.ticket.client.between_streets && assignation.ticket.client.between_streets != undefined) ? assignation.ticket.client.between_streets : null}} </p>
                <p>{{ assignation.ticket.client ? assignation.ticket.client.address : null }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <h2 *ngIf="assignations.length <= 0">No cuenta con tickets asignados por el momento</h2>

</ion-content>
