<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h3 align="center">Proximamente Mapa de Tickets</h3>
    <!--<div style="height: 300px; width: 100%;" id="map_canvas">

    </div>-->

    <!--<ion-list *ngIf="assignations && assignations.length > 0">
        <ion-item *ngFor="let assignation of assignations;let i=index" (click)="openTicket(assignation)">
            <ion-label>
                <h2>{{assignation.ticket.client.name}}</h2>
                <p>{{assignation.ticket.description}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <h2 *ngIf="!assignations || assignations.length <= 0">No cuenta con tickets asignados por el momento</h2>-->

</ion-content>
