<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Tickets No Enviados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="refreshTickets($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="failureJobs.length > 0">
        <ion-item *ngFor="let completed of failureJobs;let i=index" (click)="checkTicket(completed)">
            <ion-label>
                <h2>#{{completed.assignation.ticket.id_tickets}} ({{ completed.assignation.ticket.client ? completed.assignation.ticket.client.name : 'Sin nombre'}})</h2>
                <p>{{completed.assignation.ticket.description}}</p>
                <p>{{completed.assignation.ticket.client ? completed.assignation.ticket.client.phone : 'Sin Numero telefonico'}}</p>
                <p>{{(completed.assignation.ticket.client && completed.assignation.ticket.client.outdoor_number) ? '#' + completed.assignation.ticket.client.outdoor_number + ' entre ' : null}}
                    {{(completed.assignation.ticket.client && completed.assignation.ticket.client.between_streets && completed.assignation.ticket.client.between_streets != undefined) ? completed.assignation.ticket.client.between_streets : null}} </p>
                <p>{{ completed.assignation.ticket.client ? completed.assignation.ticket.client.address : null }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <h2 *ngIf="failureJobs.length <= 0">No cuenta con tickets por enviar por el momento</h2>

</ion-content>
